*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: min(5%,100px);
    background-color: #2D2D2D;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
}

#nav-placeholder {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;
}

.container{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #D9D9D9;
    font-size: 70px;
    text-align: center;
}

.member-container{
    display: flex;
    color: #D9D9D9;
    justify-content: space-around;
    width: 80%;
}

.member{
    width: 350px;
    height: 1000px;
    padding: 50px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    row-gap: 15px;
}

.member img{
    height: 150px;
    width: 150px;
    border-radius: 15px;
}

.member .name{
    font-size: 30px;
}

.link-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
}

.icon img{
    height: 50px;
    width: 50px;
    margin: 0px 10px;
}

.icon svg {
    height: 25px;
    width: 25px;
    fill: white;
    margin: 0px 10px;
    transition: all 0.5s ease-in-out;
}

.icon svg:hover {
    fill: #00ffcc;
}

.reflection{
    font-size: 20px;
    overflow-y: auto;
}

.reflection::-webkit-scrollbar {
    width: 5px;
    height: auto;
    background-color: black;
}

.member:hover .reflection::-webkit-scrollbar {
    width: 3px;
    height: auto;
    background-color: #5b5b5b;
}

.member:hover .reflection::-webkit-scrollbar-thumb {
    background: #00ffcc;
}

.glow-on-hover {
    width: 350px;
    height: 500px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    position: relative;
    z-index: 0;
    border-radius: 30px;
}

.glow-on-hover:before {
    content: '';
    background: repeating-linear-gradient(-45deg,red 0%, yellow 7.14%, rgb(0,255,0) 14.28%, rgb(0,255,255) 21.42%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
    background-size:300vw 300vw;
    -webkit-animation:'glowing' 3s infinite linear forwards;
    position: absolute;
    top: -2px;
    left:-2px;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}

/* .glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
} */

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 30px;
}

@keyframes glowing{
    0%{
      background-position-x: 0%;
    }
    100%{
      background-position-x: 300vw;
    }
  }

@media screen and (max-width: 900px){
    .member-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .member{
        width: 80%;
    }
}