* {
    padding-top: 0px;
    margin: 0px;
}

body {
    background-color: #edede9;
    font-family: "Noto Sans", sans-serif;
}

.cart-container {
    font-size: 18px;
    margin: auto;
    width: min(65rem, 100vw);
    padding: 20px;
}

.cart-header,
.cart-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr .5fr;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-header {
    background-color: #f9f9f9;
    font-weight: bold;
    border-radius: 6px;
}

.cart-item img {
    height: max(5vw, 80px);
    width: max(5vw, 80px);
    border-radius: 12px;
}

.product {
    display: flex;
    gap: 4vw;
    margin-left: 2rem;
    align-items: center;
}

.detail {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
        align-self: center;
    }

    .spec {
        font-size: 14px;
        opacity: 50%;
    }
}

.delete {
    cursor: pointer;
    font-size: 24px;
    transition: scale 0.5s;
}

.delete:hover {
    scale: 1.2;
    color: darkred;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control span {
    margin-inline: 6px;
    width: 40px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.quantity-control input[type="submit"] {
    width: 30px;
    height: 30px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: background-color 0.3s;
}

.hrcontainer {
    /* margin: auto; */
    display: flex;
    justify-content: center;
}

.line {
    border: none;
    border-top: 2px solid #000;
}

.total {
    width: 75%;
    display: flex;
    justify-content: right;
}

.total-item {
    font-size: 20px;
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.hrcontainer {
    display: flex;
    width: 73%;
    justify-content: right;
}

.line {
    border: none;
    width: 25%;
    border-top: 2px solid #949494;
}

.checkout {
    display: flex;
    width: 73%;
    justify-content: right;
}

.btn {
    background-color: #00ffcc;
    width: 25%;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.btn:hover {
    transform: scale(1.05);
}

.finished {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    p {
        font-weight: bold;
    }
}

.done-animation {
    display: flex;
    width: 128px;
    height: 128px;
    margin: auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.check {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955);
    animation: slide-in-bottom 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955);
    border: 5px solid black;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    padding: 16px;
    font-size: 70px;
}

.colored {
    color: #00ffcc;
}

.action {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.action-btn {
    border: 0;
    background-color: #00ffcc;
    font-size: 16px;
    font-weight: bold;
    padding-block: 8px;
    text-transform: uppercase;
    border-radius: 16px;
    cursor: pointer;
    width: 8rem;
}

.action-btn:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .cart-container {
        font-size: 18px;
        width: auto;
    }

    .cart-header {
        display: none;
    }

    .cart-item {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "product action"
            ". price"
            "amount subtotal";
    }

    .detail {
        flex-direction: row;
        gap: 16px;
    }

    .cart-item div:nth-child(1) {
        grid-area: product;
    }

    .cart-item div:nth-child(2) {
        grid-area: price;
    }

    .cart-item div:nth-child(3) {
        margin-left: 2rem;
        grid-area: amount;
    }

    .cart-item div:nth-child(4) {
        grid-area: subtotal;
    }

    .cart-item div:nth-child(5) {
        align-self: self-start;
        grid-area: action;
    }

    .cart-item div:nth-child(2),
    .cart-item div:nth-child(4),
    .cart-item div:nth-child(5) {
        padding-right: 12px;
        text-align: right;
    }

    .total-item {
        font-size: 3vw;
    }

    .line {
        width: 80%;
    }

    .btn {
        font-size: 3vw;
    }

    .hrcontainer,
    .total,
    .checkout {
        width: 100%;
        justify-content: center;
    }
}