*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #2D2D2D;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    /* background-color: aqua; */
    padding: 20px;
    width: 80%;
    /* background-color: #eeeeee; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h2 {
    text-align: center;
    margin: 20px;
    font-size: 30px;
    color: White;
}

.location-container{
    /* background-color: crimson; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.address-container{
    flex-direction: column;
    flex-shrink: 0;
    row-gap: 0px;
    background-color: yellow;
    height: 100%;
    width: 355px;
    overflow-y: scroll;
}

.address{
    background-color: white;
    height: 200px;
    width: 100%;
    font-size: 20px;
    text-align: left;
    border: 1px solid rgb(170, 170, 170);
    padding: 20px;
    display: grid;
    /* border-radius: 10; */
    color: #2D2D2D;
    transition: all 0.3s ease;
    cursor: pointer;
}

.store-name{
    font-size: 30px;
}

.opened{
    color:rgb(31, 255, 42);
}

.closed{
    color: rgb(255, 38, 0);
}

.operation-time{
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

.addr{
    font-size: 15px;
}

.contact-number{
    font-size: 15px;
}

.address:hover {
    background-color: #eeeeee;
}

.map{
    /* background-color:chocolate; */
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.map iframe{
    width: 100%;
    height: 100%;
}

