body {
    margin-top: 100px;
    padding: 0;
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

#nav-placeholder {
    z-index: 50;
    position: fixed;
    top: 0px;
    width: 100%;
}

main {
    width: auto;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    border-radius: 30px;
    background-color: #F8F8F8;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flex {
    display: flex;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

.product-image {
    background-color: #EAEAEA;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image img {
    width: 150px;
    margin: 30px;
}

.product-details {
    max-width: 400px;
    margin-left: 40px;
}

.product-details h1 {
    font-size: 30px;
}

.product-details h1, .product-details p {
    margin: 5px 0px;
}

.product-details .instock{
    color: rgb(144, 144, 144);
    font-size: 15px;
    margin: 10px 0;
}

.product-details .price, .product-details .per-mo{
    color: rgb(90, 90, 90);
    font-size: 18px;
    margin: 10px 10px 10px 0px;
}

.product-details .quantity {
    display: flex;
    align-items: center;
    justify-content: start;
}

.product-details .quantity button, .product-details .quantity input {
    background-color: #f8f8f8;
    border: none;
    color: #000;
    padding: 5px;
    margin: 0;
}

.quantity-container{
    display: flex;
}

.quantity button, .quantity input {
    height: 30px;
}

.quantity button {
    width: 30px;
    height: 40px;
    text-align: center; 
}

.quantity input {
    width: 50px;
    text-align: center;
}

.quantity input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}    /*cr: w3school*/

.buy-now {
    width: 200px;
    height: 44px;
    background-color: #bababa;
    border: none;
    color: #000;
    padding: 0;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}

.buy-now:hover {
    background-color: #00ffcc;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

.minus, .plus {
    margin: 10px 0px;
    height: 30px;
}

.configuration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

.conf-number {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 40px;
}

.config-img, .t {
    position: relative;
}

.config-img img {
    width: 300px;
}

.pro-img-bor {
    position: absolute;
    top: 20%;
    left: 42%;
    transform: translate(-50%, -50%);
    border: 8px solid transparent;
    border-radius: 10px;
    z-index: 20;
    transition: border 0.5s ease;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.cpu {
    top: 20%;
    left: 42%;
    height: 95px;
    width: 95px;
}

.gpu {
    top: 75%;
    left: 38%;
    height: 15px;
    width: 140px;
}

.ram {
    top: 38%;
    left: 73%;
    height: 215px;
    width: 45px;
}

.mem {
    top: 88%;
    left: 93%;
    height: 44px;
    width: 24px;
}

.config-item-hover {
    background-color: #00ffcc;
    border-color: #00ffcc;
    font-weight: bold;
}

.config-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #bababa;
    border-radius: 5px;
    margin: 10px 0px;
    width: 300px;
    height: 45px;
}

.config-item label {
    margin: 0px 10px;
    width: 75px;
    text-align: center;
}

.config-item p {
    color: #000;
    width: 50px;
    margin: 5px 0px;
    text-align: right;
}

.config-item .gb {
    margin: 0px;
    text-align: center;
    width: 44px;
}

.below {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.reviews, .brand {
    width: 40%;
    margin-bottom: 40px;
}

.reviews {
    position: relative;
}

.reviews-container{
    width: 100%;
}

.reviews-container iframe {
    margin-top:20px;
    width: 100%;
    height: 350px;
    border: none;
}

.other-items {
    margin-bottom: 40px;
}

.reviews h2, .brand h2 {
    font-size: 24px;
}

.brand {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.brand p {
    background-color: #EAEAEA;
    color: #616161;
    padding: 15px;
}

.brand-tag-container{
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-around;
}

.brand-tag {
    background-color: #00ffcc;
    border: none;
    color: #000;
    padding: 10px 10px;
    font-size: 15px;
    width: 25%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex .tag {
    justify-content: space-around;
}

.other-items {
    display: flex;
    justify-content: space-around;
}

.other-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eaeaea;
    padding: 20px;
    text-align: center;
    margin: 0 10px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.other-item a {
    background-color: #00ffcc;
    border-radius: 5px;
    border: none;
    color: #000;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.other-item a:hover {
    background-color: #017e75;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 1200px) {
    main {
        border-radius: 20px;
    }

    .product {
        flex-direction: column;
        margin: 20px 0;
    }

    .flex {
        justify-content: center;
    }

    .product-details {
        margin-left: 0;
        text-align: center;
        max-width: 100%;
    }

    .quantity-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quantity {
        justify-content: center;
    }

    .buy {
        justify-content: center;
    }

    .configuration {
        flex-direction: column;
    }

    .conf-number {
        margin-left: 0;
        margin-top: 20px;
        width: 280px;
    }

    .config-item {
        width: 100%;
    }

    .below {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        align-items: center;
    }

    .reviews, .brand {
        width: 100%;
    }

    .reviews h2, .brand h2{
        text-align: center;
        margin: 10px;
    }

    .reviews-container{
        display: flex;
        justify-content: space-evenly;
    }

    .brand-tag {
        margin: 0 3px;
    }
    
    .reviews-container iframe {
        margin-top: 10px;
    }

    .other-items {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .other-item {
        margin: 10px 0;
        width: 90%;
    }
}

