* {
    padding: 0;
    margin: 0;
}

body {
    margin-top: min(6%, 100px);
    background-color: #2D2D2D;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

#nav-placeholder {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    /* background-color: aqua; */
    padding: 20px;
    width: 80%;
    /* background-color: #eeeeee; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.content h2 {
    text-align: center;
    margin: 20px;
    font-size: 30px;
    color: White;
}

.location-container {
    /* background-color: crimson; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
    position: relative;
}

.address-container {
    flex-direction: column;
    row-gap: 0px;
    background-color: yellow;
    height: 100%;
    width: 355px;
    flex-shrink: 0;
    overflow-y: scroll;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.address {
    background-color: white;
    height: 200px;
    width: 100%;
    font-size: 20px;
    text-align: left;
    border: 1px solid rgb(170, 170, 170);
    padding: 20px;
    display: grid;
    /* border-radius: 10; */
    color: #2D2D2D;
    transition: all 0.3s ease;
    cursor: pointer;
}

.store-name {
    font-size: 30px;
    font-weight: bold;
}

.status {
    font-weight: bold;
}

.opened {
    color: rgb(24, 194, 33);
}

.closed {
    color: rgb(199, 30, 0);
}

.operation-time {
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

.addr {
    font-size: 15px;
}

.contact-number {
    font-size: 15px;
}

.address:hover {
    background-color: #eeeeee;
}

.fixbutton {
    visibility: hidden;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 20px;
    z-index: 4;
}

.fixbutton img {
    /* display: none; */
    width: 50px;
    height: 50px;
}

.map {
    /* background-color:chocolate; */
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.map iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1000px) {
    .fixbutton {
        visibility: visible;
    }

    .fixbutton.hidden {
        visibility: hidden;
    }

    .address-container {
        flex-direction: column;
        row-gap: 0px;
        background-color: yellow;
        height: 100%;
        width: 100%;
        flex-shrink: 0;
        overflow-y: scroll;
        border-radius: 16px;
    }

    .address-container.hidden {
        display: none;
    }

}