*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
}

main {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    background-color: #000;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

.container {
    display: flex;
    width: 800px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.left {
    background-color: #f0f0f0;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px 0px 0px 30px;
}

.left h1 {
    margin: 0;
    font-size: 36px;
}

.left p {
    color: #02F5D1;
    margin: 10px 0 20px;
}

.left a {
    color: #000;
    text-decoration: none;
}

.right {
    background-color: #000;
    color: #fff;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid #f0f0f0;
    border-radius: 0px 30px 30px 0px;
}

.input-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 14px;
}

#username, #password {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: #02F5D1;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    margin: 0 auto;
}

button:hover {
    background-color: #02F5D1;
}

.hidden {
    display: none;
    color: white;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 15px;
    }

    .left, .right {
        border-radius: 0;
        padding: 20px;
    }

    .left {
        height: 150px;
        padding: 30px;
        border-radius: 20px 20px 0 0;
    }

    .left p, .left a {
        display: none;
    }

    .right {
        border-radius: 0 0 20px 20px;
        border: 3px solid white;
    }

    button {
        width: 100%;
    }

    .hidden {
        display: flex;
        padding-top: 20px;
    }
}