* {
    padding: 0px;
    margin: 0px;
    /*width: 100%;*/
}

header {
    position: relative;
    padding-left: 3%;
    padding-right: 3%;
    top: 0;
    height: 80px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: #39FFC4;
    transition: top 0.5s;
}

.mobile {
    display: none;
}

.desktop {
    display: grid;
}

header a {
    color: #39FFC4;
}

header a:link {
    text-decoration: none;
}

header a:visited {
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

header a:active {
    text-decoration: none;
}

.logo, .small-logo{
    padding:10px;
    height: 60px;
}

header img {
    max-height: 60px;
    /* background-color: white; */
}

header div {
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
    height: 80px;
}

.search-bar input {
    height: 50px;
    background-color: #222222;
    color: #a8a8a8;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-bar input::placeholder {
    color: #00ffcc;
}

.search-bar:hover input::placeholder {
    color: #017e75;
    opacity: 0.8;
    transition:  all 0.3s ease-in-out;
}

header .dropdown-menu {
    display: inline-block;
    position: relative;
    z-index: 5;
}

header .dropdown-icon-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

header .dropdown-arrow {
    height: 80px;
    width: 20px;
}

header .dropdown-content {
    display: none;
}

header .dropdown-menu:hover .dropdown-content {
    display: block;
}

header .dropdown-content a {
    color: white;
    background-color: #3e3e3e;
    text-decoration: none;
    display: block;
}

header .dropdown-content a:hover {
    background-color: #494949;
}

header .profile {
    display: flex;
    gap: 10px;
}

header .profile img {
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

header .profile .hidden {
    display: block;
}

.mega-menu{
    visibility: hidden;
    display: none;
}

.search-bar input {
    width: 150px;
}

/*header div:nth-child(n+3){
    border-left: solid darkgray;
*/

@media screen and (max-width:1200px) {
    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }

    header {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: space-between;
    }

    header div{
        line-height: 0px;
    }

    .small-logo{
        display: none;
    }

    .line-height80{
        line-height: 80px;
    }

    .profile-icon-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-icon{
        height: 50px;
        width: 50px;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu .menu-dropdown {
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
    
    .mega-menu {
        z-index: 2;
        visibility: visible;
    }

    .mega-menu ul {
        background-color: #3e3e3e;
        list-style-type: none;
    }

    .mega-menu ul li {
        cursor: pointer;
        height: 80px;
        text-align: center;
        font-size: 20px;
        font-family: "Nunito Sans", sans-serif;
        line-height: 80px;
        color: white;
    }

    
    .mega-menu ul li:hover {
        background-color: #494949;
    }


    header .profile .hidden {
        display: none;
    }
}

@media screen and (max-width:590px) {
    header{
        height:60px;
    }

    .profile-icon-container{
        display: none;
    }

    .small-logo{
        display: block;
        height: 50px;
        width: 50px;
        padding: 5px;
    }

    .small-logo img{
        height: 50px;
        width: 50px;
    }

    .logo{
        display: none;
    }

    .search-bar input{
        font-size: 16px;
        padding: 6px;
    }

    .menu{
        height: 60px;
    }

    .menu .menu-dropdown {
        height: 40px;
        width: 40px;
        cursor: pointer;
    }

    .menu .menu-dropdown img {
        height: 40px;
        width: 40px;
    }

    .line-height80{
        line-height: 60px;
    }

}