* {
    padding: 0px;
    margin: 0px;
    /*width: 100%;*/
}

header {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    top: 0;
    height: 80px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: #39FFC4;
    transition: top 0.5s;
}

.mobile {
    display: none;
}

.desktop {
    display: grid;
}

header a {
    color: #39FFC4;
}

header a:link {
    text-decoration: none;
}

header a:visited {
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

header a:active {
    text-decoration: none;
}

header img {
    max-height: 80px;
    /* background-color: white; */
}

header div {
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    /* The same as your div height */
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
    height: 80px;
}

header .dropdown-menu {
    display: inline-block;
    position: relative;
    z-index: 5;
}

header .dropdown-icon-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

header .dropdown-arrow {
    height: 80px;
    width: 20px;
}

header .dropdown-content {
    display: none;
}

header .dropdown-menu:hover .dropdown-content {
    display: block;
}

header .dropdown-content a {
    color: white;
    background-color: #3e3e3e;
    text-decoration: none;
    display: block;
}

header .dropdown-content a:hover {
    background-color: #494949;
}

header .profile {
    display: flex;
    gap: 10px;
}

header .profile img {
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

/*header div:nth-child(n+3){
    border-left: solid darkgray;
*/

@media screen and (max-width:1200px) {
    .mobile {
        display: grid;
    }

    .desktop {
        display: none;
    }

    header {
        padding-left: 0;
        padding-right: 0;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu .menu-dropdown {
        height: 50px;
        width: 50px;
        cursor: pointer;
    }

    .menu img {
        height: 50px;
        width: 50px;
    }

    .mega-menu {
        grid-column: 1 / span 9;
    }

    .mega-menu ul {
        background-color: #3e3e3e;
        list-style-type: none;
    }

    .mega-menu ul li {
        cursor: pointer;
    }

    .mega-menu ul li:hover {
        background-color: #494949;
    }

    .profile p {
        display: none;
    }
}