body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #ffffff;
}

main{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 30px;
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}

main h2{
    color: #747474;
}

.ad{
    background-color: aqua;
    grid-column: 1 / span 4;
    border-radius: 30px;
    height: 400px;
}

.product{
    height: 250px;
    border-radius: 30px;
    align-content: center;
    background-color: #D9D9D9;
}

.productGrid .img-container{
    display: none;
}

.productGrid:nth-child(6n+2) .img-container{
    display: block;
    height: 250px;
}

.productGrid:nth-child(6n+7) .img-container{
    display: block;
    height: 250px;
}

.productGrid:nth-child(6n+2){
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: white;
    text-align: left;
}

.productGrid:nth-child(6n+7){
    grid-column: 3 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: white;
    text-align: left;
}

.productGrid:nth-child(6n+2) .buy-button, .productGrid:nth-child(6n+7) .buy-button{
    margin-left: 0px;
}

.product-desc h2{
    visibility: hidden;
}

.productGrid:nth-child(6n+2) .product-desc h2, .productGrid:nth-child(6n+7) .product-desc h2, .productGridWide .product-desc h2{
    visibility: visible;
}

.productGrid .buy-button{
    margin-left: auto;
    margin-right: auto;
}

.productGridWide{
    grid-column: 1 / span 4;
}

.productGridWide .img-container{
    height: 250px;
}

.customize{
    display: flex;
    justify-content: center;
    align-items: center;
}

.productGrid{
    text-align: center;
}

.product img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-desc{
    height: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.customize .product-desc{
    height: 150px;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.buy-button{
    width: 200px;
    height: 30px;
    background-color: #00ffcc;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.customize .buy-button{
    width: 200px;
    height: 50px;
    background-color: #00ffcc;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.narrow .buy-button{
    margin-left: auto;
    margin-right: auto;
}

.narrow h2{
    color: #D9D9D9;
}

.cart-image{
    max-width: 25px;
    max-height: 25px;
}