* {
    padding-top: 0px;
    margin: 0px;
}

body {
    background-color: #1a1a1a;
    font-family: "Noto Sans", sans-serif;
}

.header {
    margin: 32px;
}

h1 {
    text-align: center;
}

.tab-container {
    display: flex;
    max-width: max(60vw, 42rem);
    transition: all 1s;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: min(5%,80px);
    min-height: 70vh
}

.tab-sidebar {
    background-color: #f1f1f1;
    padding: 20px;
    width: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tab-btn {
    display: block;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 16px;
    width: 100%;
    text-align: left;
}

.tab-btn.active {
    background-color: #ccc;
    border-radius: 8px;
    font-weight: bold;

    i {
        font-size: 18px;
    }
}

.tab-subcategory {
    padding-left: 20px;
}

.tab-subbtn {
    display: block;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 20px;
    transition: 0.3s;
    font-size: 14px;
    width: 100%;
    text-align: left;
}

.tab-subbtn.active {
    background-color: #ddd;
    border-radius: 8px;
    font-weight: bold;

    i {
        font-size: 18px;
    }
}

.tab-content {
    background-color: #f1f1f1;
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}

i {
    margin-right: 4px;
    transition: all 0.3s;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    gap: 32px;
}

.label {
    display: block;
    font-weight: bold;
    margin-block: 12px;
}

.value {
    display: block;
    margin-block: 12px;
}

input,
textarea {
    width: fit-content;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

input:focus {
    border-color: green;
    outline: 1px dotted #000;
}

.button-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10vw;
}

.button {
    width: 7rem;
    height: min(50px, 6vw);
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
    transition: scale .5s;
}

.button:hover {
    scale: 1.05;
}

.cancel {
    background-color: #989898;
}

.submit {
    background-color: #00ffcc;
    color: black;
}

.select {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.selector {
    width: 40%;
    border-radius: 15px;
}

.check {
    cursor: pointer;
    transition: all 0.2s;
}

.check:hover {
    color: #00ffcc;
    transform: scale(1.05);
}

.order-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
    gap: 8px;
    flex-wrap: wrap;
    flex-grow: 1;
}

.order-item {
    width: max(30vw, 24rem);
    padding: 8px;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 16px;
    display: flex;
}

.order-detail {
    display: flex;
    flex-direction: column;
}

.order-num {
    font-size: 12px;
    opacity: .5;
}

.order-product {
    font-weight: bold;
}

.order-action {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-top: auto;
}

.order-delete,
.order-done {
    transition: all 0.1s;
}

.order-done {
    font-weight: bold;
    border: 2px solid white;
    border-radius: 8px;
    padding: 2px;
    padding-inline: 6px;
}

.order-delete:hover {
    color: red;
}

.order-done:hover {
    border-color: #00ffcc;
    background-color: #00ffcc;
}

.order-img img {
    height: 80px;
    width: 80px;
    border-radius: 12px;
}

.none {
    display: none;
}

.flex {
    display: flex;
    width: 200px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.edit {
    background-color: #00ffcc;
    color: black;
    border: none;
    width: 75px;
    height: 44px;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.edit:hover {
    scale: 1.05;
}

.tag {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tform {
    display: none;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.review-form-container {
    transition: all 0.1s;
    display: none;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 8px;
    margin: 10px 0px;
    width: max(30vw, 24rem);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.stars input[type="radio"] {
    display: none;
}

.stars label {
    font-size: 25px;
    color: #ccc;
    cursor: pointer;
}

.stars input[type="radio"]:checked~label {
    color: gold;
}

.stars label:hover,
.stars label:hover~label {
    color: gold;
}

.review-form textarea {
    width: calc(100% - 22px);
    padding: 10px;
}

.review-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00ffcc;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.review-form input[type="submit"]:hover {
    scale: 1.05;
}

@media screen and (max-width: 768px) {
    .tab-container {
        max-width: 100vw;
    }

    .tab-content {
        justify-content: center;
    }

    .header {
        margin-block: 12px;
        font-size: 12px
    }

    .tab-sidebar {
        padding: 8px;
    }

    .tab-btn {
        padding: 6px;
    }

    .button-section {
        gap: 12px;
        align-items: center;
        flex-direction: column;
    }

    .button {
        font-size: 3vw;
    }

    .details {
        flex-direction: column;
        align-items: center;
    }

    .cancel {
        order: 1;
    }

    .order-item,
    .tag,
    .review-form-container {
        width: 100%;
    }
}