body{
    background-color: black;
}

main {
    margin: 0;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    background-color: #000;
}

.container {
    display: flex;
    width: 800px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 23px;
}

.left {
    background-color: #f0f0f0;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px 0px 0px 30px ;
}

.left h1 {
    margin: 0;
    font-size: 36px;
}

.left p {
    color: #02F5D1;
    margin: 10px 0 20px;
}

.left a {
    color: #000;
    text-decoration: none;
}

.right {
    background-color: #000;
    color: #fff;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid #f0f0f0;
    border-radius: 0px 30px 30px 0px;
}

.input-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 14px;
}

.input-form input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

button[type="submit"] {
    width: 40%;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: #02F5D1;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto; 
}

button[type="submit"]:hover {
    background-color: #00b3b3;
}

button[type="reset"] {
    width: 40%;
    padding: 10px;
    font-size: 14px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto 0 auto;
}

button[type="reset"]:hover {
    background-color: #333;
}

.hidden {
    display: none;
}

@media screen and (max-width: 800px) {
    main {
        margin-top: 15px;
    }

    .container {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 20px;
    }

    .left, .right {
        border-radius: 0;
        padding: 15px;
    }

    .left {
        border-radius: 20px 20px 0 0;
    }

    .left h1 {
        padding: 10px 0;
    }

    .left a, .left p {
        display: none;
    }

    .right {
        border-radius: 0 0 20px 20px;
        border: 2px solid white;
    }

    #address {
        margin-bottom: 10px;
    }

    button[type="submit"], button[type="reset"] {
        width: 100%;
    }

    .hidden {
        display: flex;
        color: white;
        padding: 10px;
    }
}
