*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

body{
    display: flex;
    justify-content: center;
}

.reviews-container {
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.reviews-container h2{
    font-size: 24px;
}

.review {
    background-color: #eaeaea;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}